<div class="container-fluid bg-light"> 
    <div class="row p-5 footer">
        <div class="col-xs-12 col-md-6 col-lg-6 pe-5">
            <p class="h4 fw-bold color-title">Sprencia</p>
            <p class="">En nuestra plataforma nos dedicamos a ofrecer actividades online especialmente diseñadas para personas mayores, ¡porque la edad no es un límite para la diversión y el aprendizaje!</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 nav-color">
            <p class="h6 pt-1 fw-bold color-title">Legal</p>
            <p><a routerLink="#" class="d-block text-decoration-none mt-3 h6">Política privacidad</a></p>
            <p><a routerLink="#" class="d-block text-decoration-none h6">Uso cookies</a></p>
            <p><a routerLink="#" class="d-block text-decoration-none h6">Términos y condiciones</a></p>
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 nav-color">
            <p class="h6 pt-1 fw-bold color-title">Escríbenos</p>
            <p><a class="d-block text-decoration-none mt-3 h6" [routerLink]="['/contacto']" fragment="how-to-contact">Contacto</a></p>
            <p><a [routerLink]="['/home']" fragment="reviews-Sprencia" class="d-block text-decoration-none h6">Opiniones</a></p>
            <p><a [routerLink]="['/contacto']" fragment="how-to-contact" class="d-block text-decoration-none h6">FAQs</a></p>
        </div>     
    </div>
</div>

<div class="col-xs-12 nav-color ">
    <p class="copyrigth">© 2024 Sprencia</p>
</div>           
