.add-activity-section {
    background-color: var(--main-color-green);
}

.btn-outline-success {
    color: var(--secondary-color-white);
    font-weight: bold;
    border: none;
    background-color: var(--color-background-site);
}

.btn-outline-success:hover {
    background-color: var(--secondary-color-blue);
    color: var(--secondary-color-white);
}