
<!-- <header class="p-3">
    <h2 class="fw-bold text-center">Lista de actividades de las que puedes disfrutar con Sprencia</h2>
</header> -->

<section class="d-flex flex-column align-items-center justify-content-center p-5 add-activity-section">
    <h2 class="fw-bold text-center m-33">Quiero añadir una nueva actividad</h2>
    <div class="d-flex justify-content-center pt-3">
        <button class="btn btn-outline-success btn-lg fs-5" routerLink='/nueva-actividad'>Crear +</button>
    </div>
</section>

<app-activities></app-activities>







