

<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg">
    <li class="page-item">
      <a class="page-link text-success" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    <!-- MMM Para que se marque la página actual: [ngClass]="{ active: page == currentPage }" -->
    <li
      *ngFor="let page of pages"  
      (click)="pageClicked(page)"
      class="page-item" 
      [ngClass]="{ 'active': page === currentPage }" 
      >
      <!-- Colores de la página activa y las que no lo están. -->
      <a
        class="page-link"
        [ngClass]="{ 'text-white bg-success': page == currentPage, 'text-success': page != currentPage }"
        href="#" >{{page}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link text-success" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>



