

<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a 
        (click)="pageClicked(currentPage - 1)"
        class="page-link text-success mouse-pointer"
        [routerLink]="['/home']" fragment="all-activities-Sprencia"
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    <!-- MMM Para que se marque la página actual: [ngClass]="{ active: page == currentPage }" -->
    <li
      *ngFor="let page of pages"
      class="page-item" 
      [ngClass]="{ 'active': page == currentPage }" 
      >
      <!-- Colores de la página activa y las que no lo están. -->
      <a
        (click)="pageClicked(page)"
        class="page-link mouse-pointer"
        [routerLink]="['/home']"  fragment="all-activities-Sprencia"
        [ngClass]="{'text-white bg-success': page == currentPage, 'text-success': page != currentPage }">{{page}}
      </a>
    </li>
    <li class="page-item">
      <a 
        (click)="pageClicked(currentPage + 1)"
        class="page-link text-success mouse-pointer" 
        [routerLink]="['/home']"  fragment="all-activities-Sprencia"
        aria-label="Next"
         >
          <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>