button.btn-outline-success {
    height: auto;
    color: var(--secondary-color-blue);
    font-weight: bold;
    font-size: 0.9rem;
    font-family: 'Poppins';
    border: none;
    background-color: var(--main-color-green);
}

button.btn-outline-success:hover {
    background-color: var(--main-color-green-lighter);
}

.purchase-section {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.text-title-purchase-section {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;    
}

.text-number-reviews-purchase-section {
    font-size: 0.8rem;
    font-style: italic;
    
}

.text-schedule {
    font-size: 0.7rem;
    font-weight: lighter;
}

.user-img {
    max-height: 5rem;
    max-width: 5rem;
}