<div class="container w-75">
    <header class="row">
      <div class="col">
          <h1 class="h2 fw-bold mt-4">Charlas sobre nutrición y salud (título)</h1>
          <p>Aprende a capturar momentos especiales y a manejar una cámara de forma básica. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque debitis, iste modi incidunt necessitatibus expedita eum.</p>
      </div>
    </header>
    <section>
        <div class="row">
            <div class="col mb-2">
                <i class="bi bi-chat-dots"><span class="mx-2">10 opiniones</span></i>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4">
                <img class="img-fluid my-2 rounded" src="assets\img\pic-post-view.jpg" alt="img-activity">
            </div>
        </div>
    </section>         
    <aside class="row">
        <div class="col-6 d-md-none">Sidebar en movil
        </div>
    </aside>
    <main class="row" >
        <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
                <div>
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active ms-2">
                      <a class="nav-link" [href]="'#description'"><i class="bi bi-file-text"></i> Detalles</a>
                    </li>
                    <li class="nav-item active ms-2">
                      <a class="nav-link" [href]="'#schedule'"><i class="bi bi-alarm"></i> Horarios</a>
                    </li>
                    <li class="nav-item active ms-2">
                        <a class="nav-link" [href]="'#price'"><i class="bi bi-wallet2"></i> Precios</a>
                      </li>
                    <li class="nav-item ms-2">
                      <a class="nav-link" [href]="'#reviews'"><i class="bi bi-chat-dots"></i> Opiniones</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <div id="description" class="my-3 card-info">
                <h2 class="h6 fw-bold my-2">En qué consiste la actividad</h2>
                <p>Aprende a capturar momentos especiales y a manejar una cámara de forma básica. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque debitis, iste modi incidunt necessitatibus expedita eum.</p>
                <p>Ab animi, quidem laborum architecto, delectus excepturi magnam suscipit, alias mollitia velit ullam vitae dolores. Minima, ab enim! Repellat facilis beatae provident vel consectetur, eos saepe! Facere nisi fugit laborum.Cum aut aspernatur doloribus tenetur maiores, repudiandae neque recusandae magni vel rem temporibus sequi, quod.</p>
              </div>
              <div id="schedule" class="my-3">
                <h2 class="h6 fw-bold my-2">Horarios</h2>
                <p>Esta actividad está diponible en horario de mañana, tarde y fin de semana.</p>
              </div>
              <div id="price" class="my-3">
                <h2 class="h6 fw-bold my-2">Precios</h2>
                <p>El precio de esta actividad es de: 10,90 euros.</p>
              </div>
              <p id="description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est magni ut repellat deserunt saepe, esse vitae quaerat hic ad quasi molestiae eaque placeat? Fugiat obcaecati est repudiandae reprehenderit, sit eos!
                Totam exercitationem accusantium quis cupiditate corporis ducimus? Placeat impedit voluptatum cumque quas hic at beatae animi odio est ea aliquam nulla eligendi culpa, inventore omnis, dolor aspernatur nam voluptas soluta?
                Velit modi quia quas, assumenda excepturi iure, blanditiis asperiores eveniet cumque aliquid voluptate voluptatum, esse nemo harum tenetur pariatur. Repudiandae itaque deserunt libero distinctio quo veritatis deleniti quas odio. Nemo.
                Quo voluptas cum temporibus magnam fugiat quos a corrupti suscipit ullam repudiandae mollitia placeat, qui quibusdam cupiditate architecto porro, nihil natus totam veritatis. Laborum labore aut magni ipsam soluta aperiam.
                Harum excepturi porro dolorum magnam unde odio quibusdam omnis. Dolorem, ex molestiae consequatur omnis sint vel obcaecati dolorum sit accusantium? Numquam quis doloremque adipisci possimus ut porro dolorum quisquam ullam.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est magni ut repellat deserunt saepe, esse vitae quaerat hic ad quasi molestiae eaque placeat? Fugiat obcaecati est repudiandae reprehenderit, sit eos!
              </p>

              <section>
                <div class="container reviews-section">
                  <div class="d-flex d-colum">
                    <img class="me-2 author-img" src="" alt="author-review">
                     <p class="h6 fw-bold">FRANCISCO JAVIER</p>
                    </div>                 
                </div>
              </section>

            
            
            
            
            
            
            

        </div>
        <div class="col-4 d-none d-md-block">sidebar
        </div>
    </main>
    

</div>

