.user-img {
    max-height: 5rem;
    max-width: 5rem;
}

.limitTextHeight {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 0.5rem;
    min-height: 4.8rem;
}

.readMore {
    cursor: pointer;
}