<section id="reviews" class="d-flex flex-column px-4 py-4 my-4 border border-secondary">
    <div class="d-flex flex-grow-1 flex-shrink-1 mb-3">
        <div>
            <img class="user-img" src="assets\img\user-logo.png" alt="user-img">
        </div>
        <div class="d-flex flex-column justify-content-center flex-grow-1 flex-shrink-1">
            <p class="h6 fw-bold">María Martín</p>
            <div>
                <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
            </div>                
        </div>
    </div>
    <div class="d-flex flex-column">                  
        <p class="review-text">Harum excepturi porro dolorum magnam unde odio quibusdam omnis. Dolorem, ex molestiae consequatur omnis sint vel obcaecati dolorum sit accusantium? Numquam quis doloremque adipisci possimus ut porro. Harum excepturi porro dolorum magnam unde odio quibusdam omnis. Dolorem, ex molestiae consequatur omnis sint vel obcaecati dolorum sit accusantium? Numquam quis doloremque adipisci possimus ut porro</p>
        <p class="h6 d-block mb-3"><u>Leer más...</u></p>
        <small class="fst-italic mb-3">Publicado el 10 de marzo de 2024</small>
    </div>
</section>
