<section id="reviews" class="d-flex flex-column px-4 py-4 my-4 border border-secondary">
    <div class="d-flex flex-grow-1 flex-shrink-1 mb-3">
        <div>
            <img class="user-img" src="assets\img\user-logo.png" alt="user-img">
        </div>
        <div class="d-flex flex-column justify-content-center flex-grow-1 flex-shrink-1">
            <p class="h6 fw-bold">{{review.author}}</p>
            <div>
                <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
            </div>                
        </div>
    </div>
    <div class="d-flex flex-column">                  
        <p [ngClass]="{'limitTextHeight': isReadMore}">{{review.reviewText}}</p>
        <p class="small readMore" (click)="showText()"><u class="text-success">Leer más...</u></p>
        <small class="fst-italic mb-3">Publicada el {{this.dateFormated}}</small>
    </div>


    <!-- <div class="d-flex flex-column">                  
        <p class="review-text">{{review.reviewText}}</p>
        <p class="h6 d-block mb-3" nfIf*=""><u>Leer más...</u></p>
        <small class="fst-italic mb-3">Publicada el {{this.dateFormated}}</small>
    </div> -->
</section>
