<article class="card">
    <img class="card-img-top" [routerLink]="['/actividades', activity.id]" src="assets\img\pic-post-view.jpg" alt="thumbnail-activity">
    <div class="card-body">
      <h2 class="text-title" [routerLink]="['/actividades', activity.id]">{{activity.title}}</h2>
      <p class="text-description" [routerLink]="['/actividades', activity.id]">{{activity.description}}</p>    
      <span class="btn btn-outline-dark btn-sm me-2 mt-2 mb-3" *ngFor="let schedule of activity.schedule">
        <span class="text-schedule">{{schedule.name}}</span>
      </span>
      <p class="h5 fw-bold">{{activity.price}} €</p>
    </div>
    <div class="d-flex justify-content-between mb-4 align-items-center">
      <div>
        <button class="btn btn-outline-success" [routerLink]="['/actividades', activity.id]">Ver más</button>
      </div>
    <div class="d-flex flex-row-reverse">
      <a title="update-activity" class="edit-button" [routerLink]="['/editar-actividad', activity.id]">
        <i class="bi bi bi-pencil edit-button"></i>
      </a>
      <a title="delete-activity" class="edit-button" [routerLink]="['/actividades', activity.id]" (click)="onDeleteClick()">
        <i class="bi bi-trash3 edit-button"></i>
      </a>      
    </div>      
  </div>
</article>