
<body>
    <header class="row header-section">
        <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center p-5">
            <h2 class="fw-bold px-3 title">Contacta con Sprencia</h2>
            <p class="px-3">¡Nos encantaría saber ti! Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros.
        </p>
        </div>
        <div class="d-none d-lg-block col-md-6 img-header-contact">
        </div>
    </header>
    <main>
        <section class="container mt-5">
            <section class="row">
                <div class="col-sm-12 col-lg-6 px-5 py-3">            
                    <div class="d-flex flex-column justify-content-center align-items-center box-info p-4 border border-secondary h-100">
                        <i class="bi bi-envelope-at-fill fs-1 mb-3"></i>
                        <p class="h6 fw-bold mb-4">Contacta con atención al cliente
                        </p>
                        <p class="text-center mb-4"> ¿Tienes algún problema o dudas sobre alguna de nuestras actividades? No te preocupes, escríbenos, ¡estamos aquí para ayudarte!
                        </p>
                        <button class="btn btn-outline-success btn-sm px-4 py-2" routerLink='#'>Contacto email</button>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 px-5 py-3">        
                    <div class="d-flex flex-column justify-content-center align-items-center box-info p-4 border border-secondary h-100">
                        <i class="bi bi-telephone-inbound-fill fs-2 mb-3"></i>
                        <p class="h6 fw-bold mb-4">¿Prefieres llamarnos?
                        </p>
                        <p class="text-center mb-4 h-100"> Si eres de los que les gusta hablar por teléfono porque odias el correo electrónico, en Sprencia tenemos soporte teléfónico. 
                        </p>
                        <a class="btn btn-outline-success btn-sm px-4 py-2" href="tel:+34111111111">Llamar ahora</a>
                    </div>        
                </div>
            </section>   
        </section>
        
        <div id="info-section">
            <section class="container w-75 w-md-50 mt-4">
                <header class="py-4">
                    <h1 class="container h2 fw-bold text-center">Aquí tienes todos nuestros datos de contacto</h1>
                </header>               
                <article id="email-contact" class="px-3">
                    <h2 class="h6 fw-bold">Correo electrónico</h2>
                    <p class="">info&#64;sprencia.com</p>
                </article>
                <article id="phone-number" class="px-3">
                    <h2 class="h6 fw-bold">Teléfono</h2>
                    <p class="">699 99 99 99</p>
                </article>      
                <article class="px-3">
                    <h2 class="h6 fw-bold">Dirección:</h2>
                    <p> 
                        <span class="d-block">C/ Principal, 456</span> 
                        <span class="d-block">Código Postal: 12345</span>
                        <span class="d-block">Valencia</span>
                    </p>
                </article>                
                <article id="customer-services-schedules" class="mb-5 px-3">
                    <h2 class="h6 fw-bold">Horario de atención al cliente</h2>        
                    <p class="class">Nuestro equipo de atención al cliente está disponible para ayudarte con cualquier pregunta o consulta que puedas tener sobre nuestras actividades formativas. Por favor, ten en cuenta nuestro horario de atención al cliente:</p>       
                    <div class="container mx-3">
                        <p class="class"><span class="fw-bold">Lunes a Viernes: </span> 9:00 - 17:00 horas.</p>
                        <p class=""><span class="fw-bold">Sábados:</span> 9:00 - 12:00 horas.</p>
                        <p class=""><span class="fw-bold">Domingos:</span> Cerrado</p>    
                    </div>               
                    <p class="">Durante estos horarios, nuestro personal estará encantado de brindarte asistencia en persona, por teléfono o a través de correo electrónico. Si nos contactas fuera de nuestro horario de atención, por favor déjanos un mensaje y nos comunicaremos contigo lo antes posible en nuestro próximo día hábil.</p>        
                    <p class="">No dudes en contactarnos si necesitas más información sobre nuestras actividades, inscripciones, horarios o cualquier otra pregunta relacionada.</p>        
                    <p>¡Esperamos saber de ti pronto!</p>        
                </article>
            </section>
        </div>        
    </main>
</body>
