@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-background-site: hsl(210, 4%, 18%);
    --main-color-green: hsl(151, 100%, 47%);
    --main-color-green-lighter: hsl(151, 84%, 78%);
    --secondary-color-blue: hsl(199, 100%, 10%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --secondary-color-grey: hsl(217, 7%, 77%);
    --secondary-color-grey-lighter: hsla(0, 5%, 85%, 0.311);
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2 {
    font-family: 'Poppins', sans-serif !important;
}

/* * {
    border: 1px black solid !important;
} */



