@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-background-site: hsl(210, 4%, 18%);
    --main-color-green: hsl(151, 100%, 47%);
    --main-color-green-lighter: hsl(151, 84%, 78%);
    --secondary-color-blue: hsl(199, 100%, 10%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --secondary-color-grey: hsl(217, 7%, 77%);
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

/* * {
    border: 1px black solid !important;
} */

