<section id="all-activities-Sprencia">
    <div class="row g-4 p-5">
        <h2 class="fw-bold text-center">Actividades de las que puedes disfrutar con Sprencia</h2>
        <article class="col-sm-12 col-md-6" *ngFor="let activity of activitiesOnlyOnePage; let index = index">
            <app-activity-thumbnail [activity]="activity"></app-activity-thumbnail>
        </article>
       
        <!--MMM Ver compentarios en TS de activity-component.  -->
        <!-- onClick: ouput que recibe de pagination-component. -->
        <div class="d-flex justify-content-center mt-5">
            <app-pagination-activities 
            *ngIf="totalActivities !== 0" 
            [totalActivities]="totalActivities" 
            [itemsPerPage]="itemsPerPage" 
            [currentPage]="currentPage"
            (onClick)="changePage($event)">
            </app-pagination-activities>     
        </div>                
    </div>
</section>